<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
     <ul>
        <% @user.histories.each do |history| %>
         <li>
            <%= history.created_at %><br>
            「<%= history.mission.description %>」　をクリア！
         </li>
        <% end %>  
      </ul>
    </section>
 </aside>
</div>