<h1>Categories#show</h1>

<table>
    <tr>
        <th>Level</th>
        <th>説明文</th>
    </tr>
    
<% @missions.each do |mission| %>
    <tr>
        <td><%= mission.level_id %></td>
        <td><%= mission.description %></td>
    </tr>
<% end %>
</table>
